version: '3'
services:
  aiostreams:
    image: ghcr.io/viren070/aiostreams:latest
    container_name: aiostreams
    restart: unless-stopped
    ports:
      - "11451:11451"
    volumes:
      - ./data:/app/data
    env_file: .env
